{% extends "layout.html" %}
{% block highlight%}
	  <a class="nav-item nav-link" href="/">Home</a>	
	  <a class="nav-item nav-link active" href="/jpg2png">JPG2PNG</a>
	  <a class="nav-item nav-link" href="/pdfmerger">PDF Merger</a>
	  <a class="nav-item nav-link" href="/passwordcheck">Password Check</a>
{% endblock highlight %}
{% block content %}

	<div class="jumbotron jumbotron-fluid" style="padding-top: 4px;padding-bottom: 4px;">
  		<div class="container">
    		<h1 class="display-4">Introduction</h1>
    		<p class="lead">Hello, this page helps user to convert JPG file to PNG file. We do not store any images in our databases. So, you can upload care free and convert it really fast. I hope you'll like my projects.</p>
  		</div>
	</div>

	<div class="container">
		<div class="row justify-content-md-center md-10">
	  		<div class="col-sm">
	  			<form method="POST" enctype="multipart/form-data">
				  <div class="form-group">
				    <label for="file">Please upload your file here</label>
				    <input type="file" class="form-control-file" id="file" name="file1">
				    <input type="submit" class="btn btn-dark" name="" value="Submit" style="margin-top: 15px;">
				  </div>
				</form>
				<!-- <button type="button" class="btn btn-dark">Submit</button> -->
			</div>
	  		

	  		<div class="col-sm bg-light" style="display: flex;flex-direction:column;align-items:center;justify-content: center;" thumbnail>
	  			<label>Image will be visible here</label>
	  			<img src="{{url_for('static', filename = unn)}}" alt=" " width="300px" height="250px">
	  		</div>

	  		<div class="col-sm" style="text-align: right;">
	  			<h5 class="rainbow">{{message}}</h5>
	  			<label for="" >View your converted file here</label><br/>
	  			<a href="{{ url_for('static', filename=unn) }}" class="btn btn-outline-dark" download>Download Image</a>
	  		</div>
		</div>
	</div>

{% endblock content%}