{% extends "layout.html" %}
{% block highlight %}
	  <a class="nav-item nav-link" href="/">Home</a>	
	  <a class="nav-item nav-link" href="/jpg2png">JPG2PNG</a>
	  <a class="nav-item nav-link" href="/pdfmerger">PDF Merger</a>
	  <a class="nav-item nav-link active" href="/passwordcheck">Password Check</a>
{% endblock highlight %}
{% block content %}

	<div class="jumbotron jumbotron-fluid" style="padding-bottom: 10px;">
		<div class="container">
			<h1 class="display-4">Introduction</h1>
			<p class="lead">Hello, this page helps user to decide whether their password is safe to use or not. It will show the count of leaks from wherever you had entered your password. I hope you'll like my projects.</p>
		</div>
	</div>
	<div class="container">
	  <div class="row">
	    <div class="col-sm">
	    	<h6> You can type your password to see how many times it leaked!!</h6>
			<div class="input-group">
			  <form action="" method="POST" style="display: flex; align-items: center;justify-content: center;margin-top: 40px;">
			  <input type="password" class="form-control rounded" id="searchquery" name="searchquery" placeholder="Search" aria-label="Search"
			    aria-describedby="search-addon" />
			  <input type="submit" value="search" name="" class="btn btn-dark">
			  <!-- <button type="button" class="btn btn-dark">search</button> -->
			</form>
			</div>
			<h5 class="rainbow" style="text-align: left;margin-top: 20px;">{{count}}</h5>
		</div>
		<div class="col-sm-auto" style="padding-top: 10px">
	    	<h5>OR</h5>
	    </div>
	    <div class="col-sm">
	      <h6 style="padding-left: 20px;">You can upload text file containing your password over here.</h6>
	      <form method="POST" enctype="multipart/form-data" action="/file_upload" style="display: flex;align-items: center;justify-content: center;margin-top: 30px;">
	      	<div class="form-group" style="display: flex;align-items: center;justify-content: center; margin-top: 20px">
	      	  <label for="exampleFormControlFile1"></label>
			  <input type="file" name="file" class="form-control-file">
			  <input type="submit" value="Submit" class="btn btn-dark">
		    </div>
		  </form>
	      
	      <h5 style="color:red; text-align: center;">{{message}}</h5>
	      {% if counts %}
	      	{% for i in counts %}
	      		<h5 class="rainbow" style="text-align: center;margin-top: 20px;">{{i}}</h5>
	      	{% endfor %}
	      {% endif %}
	    </div>
	  </div>
	</div>
{% endblock content %}