<!DOCTYPE html>
<html>
<head>
	<title>Projects</title>
	<link rel="stylesheet" type="text/css" href="style1.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  		<a class="navbar-brand" href="practice.html">Welcome</a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
  		</button>
	  	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		    <div class="navbar-nav">
		      <a class="nav-item nav-link" href="practice.html">Home<span class="sr-only">(current)</span></a>	
		      <a class="nav-item nav-link" href="jpg2png.html">JPG2PNG</a>
		      <a class="nav-item nav-link" href="pdfmerger.html">PDF Merger</a>
		      <a class="nav-item nav-link active" href="passwordcheck.html">Password Check</a>
		    </div>
	  	</div>
	</nav>

	<div class="jumbotron jumbotron-fluid" style="padding-bottom: 10px;">
		<div class="container">
			<h1 class="display-4">Introduction</h1>
			<p class="lead">Hello, this page helps user to decide whether their password is safe to use or not. It will show the count of leaks from wherever you had entered your password. I hope you'll like my projects.</p>
		</div>
	</div>
	<div class="container">
	  <div class="row">
	    <div class="col-sm">
	    	<h6> You can type your password to see how many times it leaked!!</h6>
			<div class="input-group">
			  <form action="/search" method="POST" style="display: flex; align-items: center;justify-content: center;margin-top: 40px;">
			  <input type="password" class="form-control rounded" id="searchquery" name="searchquery" placeholder="Search" aria-label="Search"
			    aria-describedby="search-addon" />
			  <input type="submit" value="search" name="" class="btn btn-dark">
			  <!-- <button type="button" class="btn btn-dark">search</button> -->
			</form>
			</div>
			<h5 class="rainbow" style="text-align: left;margin-top: 20px;">{{count}}
		</div>
		<div class="col-sm-auto" style="padding-top: 10px">
	    	<h5>OR</h5>
	    </div>
	    <div class="col-sm">
	      <h6 style="padding-left: 20px;">You can upload text file containing your password over here.</h6>
	      <form method="POST" enctype="multipart/form-data" action="/file_upload" style="display: flex;align-items: center;justify-content: center;margin-top: 30px;">
	      	<div class="form-group" style="display: flex;align-items: center;justify-content: center; margin-top: 20px">
	      	  <label for="exampleFormControlFile1"></label>
			  <input type="file" name="file" class="form-control-file">
			  <input type="submit" value="Submit" class="btn btn-dark">
		    </div>
		  </form>
	      <!-- <form method="POST" enctype="multipart/form-data" action="/file_upload" style="display: flex;align-items: center;justify-content: center;">
		  	<div class="form-group">
		    	<label for="exampleFormControlFile1"></label>
		    	<input type="file" class="form-control-file" id="exampleFormControlFile1" name="exampleFormControlFile1">
		  	</div>
		  	<button type="button" class="btn btn-dark">Submit</button>
	      </form> -->
	      <h5 style="color:red; text-align: center;">{{message}}
	      <h5 class="rainbow" style="text-align: center;margin-top: 20px;">{{counts}}
	    </div>
	  </div>
	</div>

	<div class="container">
	<div class="container footer navbar-fixed-bottom">
	<footer>
	    <a target="_blank" href="https://github.com/agarwalsahil2013/ImagePrediction.git"><i class="fab fa-github fa-lg contact-icon"></i></a>
	    <a target="_blank" href="https://www.linkedin.com/in/sahil-agarwal-/"><i class="fab fa-linkedin fa-lg contact-icon"></i></a><br/>
	    © Made by Sahil Agarwal
	</footer>
	</div>
	</div>

 	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>