{% extends "layout.html" %}
{% block highlight%}
	  <a class="nav-item nav-link" href="/">Home</a>	
	  <a class="nav-item nav-link" href="/jpg2png">JPG2PNG</a>
	  <a class="nav-item nav-link active" href="/pdfmerger">PDF Merger</a>
	  <a class="nav-item nav-link" href="/passwordcheck">Password Check</a>
{% endblock highlight %}
{% block content %}
	<div class="container">  
	  <div class="row align-items-center">
	    <div class="col">
	     <div class="jumbotron jumbotron-fluid" style="padding-bottom: 5px;">
	  		<div class="container">
	    		<h1 class="display-4">Introduction</h1>
	    		<p class="lead">Hello, this page helps user to convert JPG file to PNG file. We do not store any images in our databases. So, you can upload care free and convert it really fast. I hope you'll like my projects.</p>
	  		</div>
		 </div>
	    </div>
	    <div class="col-md-auto">
	    	<label for="">Please upload your file here</label>
	    	<form method="POST" enctype="multipart/form-data" action="" style="display: flex;align-items: center;justify-content: center;">
			  <input type="file" name="file[]" multiple="" class="form-control-file">
			  <input type="submit" value="Submit" class="btn btn-dark">
			</form>
		</div>
		    <div class="col">
		    	<h5 class="rainbow">{{message}}</h5>
		    	<div class="card" style="width: 49rem;">
				  <div class="card-body">
				    <h5 class="card-title">Converted file</h5>
				    <p class="card-text">Here you'll recieve your converted file. Please click on download to 
				    get the PDF in your system.</p>
				    <a target="_blank" href="{{ url_for('combinedpdf') }}" class="btn btn-primary">Download PDF</a>
				  </div>
				</div>
			</div>
			<div class="row align-items-left">
	      		<img align="left" src="https://smallpdf.com/build/01e5009ff1382415739c24c03fe9ffb3.svg" alt=".....">
	   	 	</div>	  
	  	</div>
	</div>

{% endblock content %}